---

import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import HeroCard from "../components/heroCard.astro";
import InquireNow from "../components/InquireNow.astro";
import AboutUs from "../components/aboutUs.astro";
import Courses from "../components/Courses.astro";
import Scholarships from "../components/scholarships.astro";
import ContactUs from "../components/contactUs.astro";
import Location from "../components/location.astro";
import ApplyNowCard from "../components/applyNowCard.astro";
import ThemeToggle from "../components/ThemeToggle";
import LoadingScreen from "../components/LoadingScreen.tsx";
import Block01Navigation from "../components/kokonutui/block-01-nav";
import { motion } from "framer-motion";
---

<Layout title="Data Center College of the Philippines - Baguio City">
	<!-- <LoadingScreen client:load /> -->

	
		<Block01Navigation client:only="react" />
		<main class="flex-1 w-full overflow-x-hidden">
			<div class="max-w-[100vw]">
				<HeroCard transition:animate="slide"/>
				<AboutUs />
				<Courses />
				<ContactUs />
				<Location />
				<ApplyNowCard />
			</div>
			<Footer />
			<!-- <InquireNow /> -->
		</main>

</Layout>

<style>
	main {
	}

	h1 {
		color: #1c1d22;
		font-size: 4rem;
	}

	.toggle-theme {
		position: fixed;
		right: 0;
		bottom: 12px;
	}
</style>
