---
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import HeroCard from "../components/heroCard.astro";
import InquireNow from "../components/InquireNow.astro";
import AboutUs from "../components/aboutUs.astro";
import Courses from "../components/Courses.astro";
import Scholarships from "../components/scholarships.astro";
import ContactUs from "../components/contactUs.astro";
import Location from "../components/location.astro";
import ApplyNowCard from "../components/applyNowCard.astro";
---

<Layout title="Data Center College of the Philippines - Baguio City">
	<Menu />
	<main class="flex-1">
		<HeroCard />
		<AboutUs />
		<Courses />
		<Scholarships />
		<ContactUs />
		<Location />
		<ApplyNowCard />
		<Footer />
		<!-- <ThemeToggle client:load />	 -->
		<InquireNow />
		</main>
</Layout>

<style>

	main {
	}

	.landing-page {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-image: url("/images/landing-page-background.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-blend-mode: darken;
		background-color: #070720;
	}

	h1 {
		color: #1c1d22;
		font-size: 4rem;
	}

	.toggle-theme {
		position: fixed;
		right: 0;
		bottom: 12px;
	}
</style>
