<section
    class="w-full py-12 md:py-24 lg:py-32 about-us bg-blend-multiply"
    id="about"
>
    <div class="container mx-auto px-4 md:px-6">
        <div class="grid gap-10 lg:grid-cols-2 items-center">
            <img
                alt="DCCP Baguio Campus"
                class="mx-auto order-2 md:order-1 aspect-video overflow-hidden object-cover object-center shadow-sm"
                height="720"
                src="images/bg-about-us.png"
                width="720"
            />
            <div class="space-y-4 order-1 md:order-2">
                <h2
                    class="text-3xl text-white mb-8 font-bold font-cursive tracking-tighter sm:text-5xl"
                >
                    About Us
                </h2>

                <div class="description space-y-6">
                    <p class="text-white font-fn font-bold text-lg md:text-lg">
                        PIONEERING IN I.T. EDUCATION SINCE 1974, Data Center
                        College of the Philippines Baguio City is a haven for
                        knowledge-seekers nestled in the chilly mountains of
                        Baguio City. With modern classrooms, laboratories, and
                        simulation rooms, you'll have all the tools you need to
                        hone your skills and develop your expertise in your
                        chosen field.
                    </p>
                    <p class="text-white font-fn font-bold text-lg md:text-lg">
                        Through various student organizations and outreach
                        programs, you'll have the opportunity to develop your
                        leadership skills and give back to the community. If
                        you're ready to embark on a journey of learning, growth,
                        and endless possibilities, come join the DCCP Baguio
                        family today!
                    </p>
                </div>

                <a
                    href="#location"
                    class="btn-shadow-lg inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-blue-600 text-white hover:bg-blue-700 h-10 px-4 py-2"
                >
                    Join Our Community
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    .about-us {
        background-image: url("/images/bg-baguio.webp");
        background-size: cover;
        background-color: #154f79;
        background-blend-mode: luminosity;
        background-attachment: fixed;
    }

    .description {
        /* max-width: 600px;
        background-color: rgb(23, 25, 39);
        background-blend-mode: multiply;
        opacity: .7;
        border-radius: 8px;
        padding: 12px; */
    }

    p {
        line-height: 32px;
    }
</style>
