---
const year = new Date().getFullYear();
---

<footer>
    <p class="text-sm text-center text-white">
        &copy; <span id="footer-year">{year} </span> Data Center College of the Philippines of Baguio City Inc.
        All rights reserved.
    </p>
</footer>

<style>
    footer {
        position: relative;
        clear: both;
        height: 80px;
        display:flex;
        justify-content: center;
        align-items: center;
        background: rgb(27, 27, 107);
    }
</style>

<script is:inline>
    document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
