<footer>
    <h1>Copyright @ 2023 | Data Center College of the Philippines of Baguio City Inc.</h1>
</footer>


<style>
   	footer {
		display: flex;
		justify-content: center;
		height: 100px;
	}
</style>