<section class="w-full py-0 md:py-24 lg:py-32 xl:py-48 hero-container">
    <div class="container mx-auto px-4 md:px-6">
        <div class="grid gap-4  lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px]">
            <div class="flex flex-col justify-center space-y-1 text-gray dark:text-white">
                <div class="space-y-4">
                    <h1 class="header-intro text-2xl font-bold text-slate-900 font-f tracking-tighter sm:text-5xl xl:text-6xl/none">
                        PIONEERING IN COMPUTER EDUCATION SINCE 1974
                    </h1>

                    <p class="max-w-[600px] font-fn text-gray-600 md:text-xl">
                        Data Center College of the Philippines Baguio City - a haven for knowledge-seekers nestled in the chilly mountains of Baguio City 🌲!
                    </p>
                </div>
                <div class="flex flex-col gap-4 min-[400px]:flex-row">
                   

                    <a href="#courses" class="mt-3 explore-btn inline-flex items-center justify-center rounded-md text-sm font-medium border border-blue-800 text-slate-900 hover:bg-gray-100 h-10 px-4 py-2">
                        Explore Programs
                    </a>

                    <a href="#courses" class="mt-3 scholarship-btn inline-flex items-center justify-center rounded-md text-sm font-medium bg-blue-800 text-white hover:bg-gray-100 h-10 px-4 py-2">
                        Scholarships
                    </a>
                </div>
            </div>

            
            <img
                alt="DCCP Baguio Campus"
                class="mx-auto aspect-video overflow-hidden rounded-xl object-cover object-center"
                height="720"
                src="/images/bg-students-01-bg-none.png"
                width="720"
            />
        </div>
    </div>
</section>


<style>

    .hero-container {
        background: linear-gradient(180deg, #e6e7ea 0%, #e3e4ec 100%);
    }

    .header-intro {
        font-size: 72px;
  background: -webkit-linear-gradient(#4b0254, #0a065d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }



    .explore-btn {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .scholarship-btn {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
</style>