<div
  id="inquire-btn"
  class="fixed bottom-5 cursor-pointer right-5 bg-orange-600 text-white p-4 rounded font-h shadow-gray-500 flex align-middle justify-center space-x-2"
>
  <i class="fi fi-rr-chat-bubble-call text-md font-bold"></i>
  <p>Inquire</p>
</div>

<style>
  #inquire-btn {
    box-shadow:
      rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    line-height: 1;
  }
</style>
