<section class="w-full py-12 md:py-24 lg:py-32 text-white" id="location">
    <div class="container mx-auto px-4 md:px-6">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl text-center mb-12 font-cursive text-white">Location</h2>
        <div class="grid gap-10 lg:grid-cols-2 items-center mt-4">
            <div class="space-y-8">
                <h3 class="text-2xl font-bold">Data Center College of the Philippines - Baguio City</h3>
                <p class="">
                    So if you're ready to embark on a journey of learning, growth, and endless possibilities, come join the DCCP Baguio family today!                </p>
                <p class="">
                    <i class="fi fi-rr-marker mr-3 text-lg text-green-500"></i>
                    118 Upper A. Bonifacio St., Brgy. Holy Ghost Proper, Baguio City, Philippines, 2600
                </p>
                
                <div class="space-y-2">
                    <h4 class="font-semibold">Contact Information:</h4>
                    <ul class="list-none space-y-2 ">
                        <li class="flex items-center">
                            <i class="fi fi-rr-phone-flip mr-3 text-lg text-blue-500"></i>
                            (074) 444 3539
                        </li>
                        <li class="flex items-center">
                            <i class="fi fi-rr-envelope mr-3 text-lg text-blue-500"></i>
                            baguio-campus@dccp.edu.ph
                        </li>
                    </ul>
                </div>
                <a href="https://maps.app.goo.gl/zuwALELLSJhCFycJ7" target="_blank" class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-blue-600 text-white hover:bg-blue-700 h-10 px-4 py-2">
                    Get Directions
                </a>
            </div>
            <div class="w-full h-[400px] rounded-lg overflow-hidden">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15308.998158643944!2d120.58801784835016!3d16.412148168716598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3391a15dadc3624b%3A0xeb147b4e62e6e276!2sDATA%20CENTER%20COLLEGE%20OF%20THE%20PHILIPPINES!5e0!3m2!1sen!2sph!4v1681981770454!5m2!1sen!2sph" 
                    width="100%" 
                    height="100%" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"
                    class="rounded-lg">
                </iframe>
            </div>
        </div>
    </div>
</section>

<style>
    #location {
        background-color: #1e1ad8;
        background-blend-mode: saturation;
        background-image: url('/images/bg-location.jpg');
        background-size: cover;
        background-position: center;
    }
</style>