<div class="menu-bar flex justify-between items-center">
    <div>
        <img src="/images/dccp-logo.png" alt="dccp-logo" class="dccp-logo" />
    </div>

    <div class="navigation-links flex items-center">
        <p><a href="/academics">Academics</a></p>
        <p><a href="/about">About</a></p>
        <p><a href="/news">News</a></p>
    </div>
</div>

<style>
    .menu-bar {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dccp-logo {
        width: 100px;
        height: 80px;
    }
</style>
