---
import { Icon } from 'astro-icon/components'
---
<header class="menu-header font-h sticky top-0 p-2 z-50 w-full bg-white/95 dark:bg-slate-900 dark:text-slate-50 backdrop-blur supports-[backdrop-filter]:bg-white/90">
    <div class="container mx-auto flex h-16 items-center px-4">
        <a href="/" class="flex items-center space-x-2 p-3">
            <!-- <img src="/images/dccp-logo.png" alt="DCCP Logo" class="h-14 w-auto" /> -->
            <img src="https://png.pngtree.com/png-vector/20220818/ourmid/pngtree-geometric-logo-with-abstract-w-for-tech-industry-branding-vector-png-image_38674124.png" alt="DCCP Logo" class="h-14 w-auto" />
        </a>
       
        <div class="flex items-center ml-auto">
            <nav class="hidden md:flex items-center space-x-8">
                <a href="/academics" class="text-sm font-medium transition-colors hover:text-blue-700 dark:hover:text-blue-400 flex flex-col text-center align-center mx-1">
                    <i class="fi fi-rr-scroll-document-story text-2xl text-blue-800 dark:text-blue-100"></i>
                    <span class="text-xs">Academics</span>
                </a>

                <a href="/about" class="text-sm font-medium transition-colors hover:text-blue-700 dark:hover:text-blue-400 flex flex-col text-center align-center mx-1">
                    <i class="fi fi-rr-school text-2xl text-blue-800 dark:text-blue-100"></i>
                    <span class="text-xs">About</span>
                </a>

                
              
                <a href="https://dccp-portal-v1-beta.vercel.app" class="text-sm font-medium transition-colors hover:text-blue-700 dark:hover:text-blue-400 flex flex-col text-center align-center mx-1">
                    <i class="fi fi-rr-student text-2xl text-blue-800 dark:text-blue-100"></i>
                    <span class="text-xs">Portal</span>
                </a>

               
            </nav>
            
            <button class="inline-flex items-center justify-center rounded-md text-sm font-medium border border-input bg-background hover:bg-accent h-10 w-10 md:hidden">
                <Icon name="heroicons:bars-3-solid" class="h-5 w-5" />
                <span class="sr-only">Toggle menu</span>
            </button>
        </div>
    </div>
</header>

<style>
    .menu-header {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
</style>