
---



const scholarships = [
{
    name: "TES",
    image: "images/scholarships/tes.jpg",
},
{
    name: "DOH",
    image: "images/scholarships/doh.jpg"
},
{
    name: "BARMM",
    image: "images/scholarships/barmm.jpg"
}
,{
    name: "CHED",
    image: "images/scholarships/ched.jpg"
},
{
    name: "Hawak Kamay",
    image: "images/scholarships/hawak-kamay.jpg"
},{
    name: "Landbank",
    image: "images/scholarships/landbank.jpg"
}



];
---

<section class="w-full py-12 md:py-24 lg:py-32 bg-white" id="scholarships">
    <div class="container mx-auto px-4 md:px-6">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl text-center mb-12  font-cursive"><span class="title-gradient">Scholarships</span></h2>
        <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
            {scholarships.map((scholarship) => (
            <div class="bg-white card overflow-hidden transition-transform duration-400 ease-in-out hover:scale-105 p-4 rounded">
                <img src={scholarship.image} alt="Merit Scholarship" class="w-full h-100 object-cover">
            </div>
            ))
        }
    </div>
    </div>
</section>

<style>

    section {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
.card {
    cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

</style>