---
interface Props {
	title: string;
}

const { title } = Astro.props;

import "../assets/main.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Funnel+Display:wght@300..800&family=Lexend+Exa:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
		/>
		<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css'>
		<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
	
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "Funnel Display", sans-serif;
		font-optical-sizing: auto;
		font-weight: normal;
		font-style: normal;
		background: rgb(3, 6, 26);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.font-cursive {
		font-family: "Eagle Lake", serif;
		font-weight: 400;
		font-style: normal;
	}

	.font-h {
		font-family: "Lexend Exa", serif;
		font-optical-sizing: auto;
		font-weight: 500;
		font-style: normal;
	}

	.font-p {
		font-family: "Noto Sans", sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.font-f {
		font-family: "Funnel Display", sans-serif;
		font-optical-sizing: auto;
		font-weight: 500;
		font-style: normal;
	}

	.font-fn {
		font-family: "Funnel Display", sans-serif;
		font-optical-sizing: auto;
		font-weight: normal;
		font-style: normal;
	}

	.title-gradient {
  background: -webkit-linear-gradient(#4b0254, #0a065d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	}

	.btn-shadow-lg {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	}
</style>

<script is:inline>
	const theme = (() => {
		if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
			return localStorage.getItem("theme");
		}
		if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
			return "dark";
		}
		return "light";
	})();

	if (theme === "light") {
		document.documentElement.classList.remove("dark");
	} else {
		document.documentElement.classList.add("dark");
	}
	window.localStorage.setItem("theme", theme);
</script>
